h3 {
    color: orange
}

p {
    color: orchid
}

.pinktext {
    color: green
}

li#pinktext {
    color: purple
}

#firstbox {
    width: 200px;
    height: 100px;
    background-color: indianred;
    position: absolute;
    right: 50px;
    top: 20px;
}

#secondbox {
    width: 500px;
    height: 500px;
    background-color: indigo;
}

#thirdBox {
    width: 300px;
    height: 300px;
    background-color: blue;
    margin: -100px;
}