
img:hover {
    border-color: #237A7A;
    border-style: solid;
    border-radius: 15%;
    opacity: 0.3;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;

}



.firstrow {
  margin-top: 90px;
  
}

.bot {
    margin-bottom: 90px;
}