a {
    text-decoration: none;
    display: inline-block;
    padding: 50px 20px;
  }
  
  a:hover {
    background-color: white;
    color: black;
  }
  
  .previous {
    background-color: white;
    color: black;
  }
  
  
  .round {
    border-radius: 0;
  }