

.col-lg-5 {
  
    background-color: transparent;
    height: 200px;
}

.col-5 {
    background-color: #F2F2F2;
    height: 200px;

}

/* Solid border */
hr.solid {
    border-top: 3px solid #237A7A;
    width: 500px;
    margin-left: 543px;
    
  }

.col-lg-3 {
    background-color: transparent;
    height: 330px;
}

.col-lg-4 {
    height: 250px;
    margin-top: 20px;
    
}

.col-lg-10 {
    background-color:transparent;
    height: 225px;
    
}

.box {
        position: absolute;
        width: 1200px;
        margin-left: 50px;
        margin-top: 75px;
        
      }
   
.boxagain {
    position: relative;
    margin-top: 200px;
}      

.square {
    position: absolute;
    width: 1200px;
    margin-top: 310px;
    margin-left: 175px;
  }
  
.exp {
    margin-top: 75px;
}

.margin {
    margin-top: 12px;
    margin-left: 25px;
}

.whitebox {
    position: relative;
    background-color: white;
    height: 68px;
    width: 300px;
    margin-left: 43px;
    padding-top: 15px;
}

div.myname {
    position: absolute;
    background-color: transparent;
    width: 500px;
    margin-left: 5rem;
    top: 10px;
    
}

ul {
    list-style-type: circle;
  }

.icons {
    margin-top: 10px;
    position: absolute;
}

.August {
    position: relative;
    margin-left:50px;
}

.solidagain {
    border-width: 3px;
    border-color: #237A7A;
}

.col-4 {
    padding-top: 25px;
    background-color: white;
    margin-bottom: 50px;
}




