@media (min-width: 700px){
       
}

.school {
    margin-left: 150px;
   
}

.col-lg-10 {
    display: none;
}

.solid {
    display: none;
}

.margin {
    display: flex;
}

.box {
    position: relative;
    width: 1200px;
    margin-left: 0;
    margin-top: 0;
}    

.square {
    position: relative;
    width: 1200px;
    margin-top: 0;
    margin-left: 0;
  }

